PORT=3000
NODE_ENV=development

MONGODB_URI=mongodb://127.0.0.1:27017/travel-trackr

SESSION_SECRET=

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_DAYS=30

CORS_ORIGIN=http://localhost:5173
SEED_MOCK_DATA=true

# Backup DB
ENABLE_DB_BACKUP_CRON=false
DB_BACKUP_CRON=0 3 * * *
DB_BACKUP_RUN_ON_STARTUP=false
BACKUP_OUTPUT_DIR=./backups
BACKUP_DB_NAME=travel-trackr
